ErrorDocument 404 /404.html

RewriteEngine on
RewriteCond %{HTTP_HOST} ^docs.srcf.net$
RewriteRule ^learn/tutorials/deploy-django(\.html)?$ /learn/tutorials/deploy-python [R=permanent,L]
RewriteRule ^learn/tutorials/deploy-rails(\.html)?$ /learn/tutorials/deploy-ruby [R=permanent,L]
