{% block doctype -%}
<!DOCTYPE html>
{%- endblock %}
<html lang="en" class="h-100">

<head>
  <meta charset="{{ encoding }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>
    {{ title|striptags|e }}{% if not embedded and docstitle and pagename !=
      master_doc %} - {{ docstitle }}{% endif %}
  </title>
  <link href="/_srcf/vendor/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/_srcf/vendor/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/_srcf/srcf-bs.css" rel="stylesheet" />
  <link href="{{ pathto('_static/pygments.css', 1) }}" rel="stylesheet" />
  {%- for css in css_files %}
  <link href="{{ pathto(css, 1) }}" rel="stylesheet" />
  {%- endfor %}
  <style>
    .headerlink {
      margin-left: 0.25em;
      display: none;
    }

    :hover>.headerlink {
      display: inline;
    }

    .highlighted {
      background-color: #ff8;
      margin: -0.1rem;
      padding: 0.1rem;
    }

    .toc>ul {
      list-style: none;
      padding-left: 0;
    }

    .relations {
      margin-left: 1.57142856em;
    }

    .copyright {
      margin-top: 1.5rem;
      border-top: 1px solid #5f5f5f;
      padding-top: 1.5rem;
    }

    /* These probably want to be in srcf-bs.css: */
    .alert {
      position: inherit;
    }

    .alert p:last-child,
    .alert ul:last-child {
      margin-bottom: 0;
    }
  </style>
  <link href="/favicon.ico" rel="icon" type="image/x-icon" sizes="16x16 24x24" />
  <link href="/favicon.svg" rel="icon" type="image/svg" />
  {{ metatags }} {%- if not embedded %} {%- if use_opensearch %}
  <link href="{{ pathto('_static/opensearch.xml', 1) }}" rel="search" type="application/opensearchdescription+xml"
    title="{% trans docstitle=docstitle|e %}Search within {{ docstitle }}{% endtrans %}" />
  {%- endif %}
  <script type="text/javascript">
    var DOCUMENTATION_OPTIONS = {
      URL_ROOT: '{{ pathto('', 1) }}',
      VERSION: '{{ release|e }}',
      COLLAPSE_INDEX: false,
      FILE_SUFFIX: '{{ '' if no_search_suffix else file_suffix }}',
      HAS_SOURCE: {{ has_source| lower }},
    LINK_SUFFIX: '{{ '' if no_search_suffix else file_suffix }}',
      };
  </script>
  {%- for script in script_files %}
  <script src="{{ pathto(script, 1) }}"></script>
  {%- endfor %} {%- endif %}
  <link rel="top" title="{{ docstitle|e }}" href="{{ pathto(master_doc) }}" />
  {%- if parents %}
  <link rel="up" title="{{ parents[-1].title|striptags|e }}" href="{{ parents[-1].link|e }}" />
  {%- endif %} {%- if next %}
  <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}" />
  {%- endif %} {%- if prev %}
  <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}" />
  {%- endif %} {%- block extrahead %}{% endblock %}
</head>

<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand navbar-light fixed-top bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ theme_domain_web }}/">
        <img src="/_srcf/images/logo.svg" />
        <span class="d-none d-lg-inline">
          <span class="text-danger">Student-Run</span>
          <span class="text-primary">Computing Facility</span>
        </span>
      </a>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{theme_domain_web}}/services" id="navbarDropdown" role="button"
            data-toggle="dropdown">
            <i class="fa fa-fw fa-cubes" aria-hidden="true"></i>
            <span class="d-none d-md-inline">Services</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="https://webmail.srcf.net"><i class="fa fa-fw fa-envelope-o mr-1"></i>
              Webmail</a>
            <a class="dropdown-item" href="https://lists.srcf.net"><i class="fa fa-fw fa-bullhorn mr-1"></i>
              Mailing
              lists</a>
            <a class="dropdown-item" href="{{theme_domain_web}}/terminal/"><i class="fa fa-fw fa-terminal mr-1"></i>
              Web
              terminal</a>
            <a class="dropdown-item" href="https://timeout.srcf.net"><i class="fa fa-fw fa-commenting-o mr-1"></i>
              Timeout</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{theme_domain_web}}/about" id="navbarDropdown" role="button"
            data-toggle="dropdown">
            <i class="fa fa-fw fa-users" aria-hidden="true"></i>
            <span class="d-none d-md-inline">Society</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{theme_domain_web}}/about"><i class="fa fa-fw fa-bookmark-o mr-1"
                aria-hidden="true"></i>About us</a>
            <a class="dropdown-item" href="{{theme_domain_web}}/committee"><i class="fa fa-fw fa-id-card mr-1"></i>
              Committee</a>
            <a class="dropdown-item" href="{{theme_domain_web}}/minutes"><i class="fa fa-fw fa-book mr-1"></i>
              Minutes</a>
            <a class="dropdown-item" href="{{theme_domain_web}}/constitution"><i class="fa fa-fw fa-gavel mr-1"></i>
              Constitution</a>
            <a class="dropdown-item" href="{{theme_domain_web}}/roles"><i class="fa fa-fw fa-university mr-1"></i>
              Roles</a>
            <a class="dropdown-item" href="https://blog.srcf.net"><i class="fa fa-fw fa-rss mr-1"></i>
              Blog</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-1" href="https://docs.srcf.net"><i class="mr-1 fa fa-fw fa-info-circle"
              aria-hidden="true"></i><span class="d-none d-md-inline">Docs</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-1" href="{{theme_domain_web}}/donate"><i class="mr-1 fa fa-fw fa-heart"
              aria-hidden="true"></i><span class="d-none d-md-inline">Donate</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-1" href="{{theme_domain_control}}"><i class="mr-1 fa fa-fw fa-wrench"
              aria-hidden="true"></i><span class="d-none d-md-inline">Control Panel</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <main role="main" class="container my-4 flex-shrink-0">
    {%- set sidebar %} {%- for panel in sidebars %} {%- include panel %} {%-
      endfor %} {%- endset %} {%- block header %}{% endblock %} {%- block
      content %}{%- block document %} {%- if not embedded and not
      (theme_nosidebar|tobool) %} {%- block sidebar1 %} {%- if sidebar %}
    <p class="d-block d-md-none">
      <a href="#mobilenav"><i class="fa fa-fw fa-arrow-down"></i> Jump to navigation</a>
    </p>
    <div class="sidebar">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Navigation</h4>
          {{ sidebar }}
        </div>
      </div>
    </div>
    {%- endif %} {%- endblock %} {%- endif %} {% block body %}{% endblock %}
    {%- endblock %}{%- endblock %} {%- block footer %} {%- set text %} {%- if
      show_copyright %} {% trans %}&copy; Copyright
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>{% endtrans %} {%- if copyright %}
    {{ copyright }}{% endif %}. {%- endif
      %} {%- if theme_footer_contributors %} {%- set authors =
      contributors(pagename, meta) %} {% trans authors=authors|join(", ")
      %}Contributors: {{ authors }}.{% endtrans %} {%- endif %} {%- if
      last_updated %} {% trans last_updated=last_updated|e %}Last updated on {{
      last_updated }}.{% endtrans %} {%- endif %} {%- if show_sphinx %} {% trans
      sphinx_version=sphinx_version|e %}Created using
    <a href="https://www.sphinx-doc.org">Sphinx</a> {{ sphinx_version }}.{%
      endtrans %} {%- endif %} {%- endset %} {%- if text %}
    <p class="copyright text-muted">
      {{ text }}
    </p>
    {%- endif %} {%- endblock %} {%- block sidebar2 %} {%- if sidebar %}
    <div id="mobilenav" class="d-block d-md-none">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Navigation</h4>
          <ul class="relations fa-ul">
            <li>
              <a href="#"><i class="fa fa-li fa-arrow-up"></i> Jump to content</a>
            </li>
          </ul>
          {{ sidebar }}
        </div>
      </div>
    </div>
    {%- endif %} {%- endblock %}
  </main>
  <footer class="footer mt-auto pt-3">
    <div class="container">
      <div class="row justify-content-between px-3">
        <div>
          <h5>Membership</h5>
          <ul class="fa-ul mb-0">
            <li><a href="{{theme_domain_control}}/signup"><i class="fa fa-li fa-user"></i> Join the SRCF</a></li>
            <li><a href="{{theme_domain_web}}/services"><i class="fa fa-li fa-cubes"></i> List of services</a></li>
            <li><a href="{{theme_domain_web}}/tos"><i class="fa fa-li fa-balance-scale"></i> Terms of service</a></li>
            <li><a href="{{theme_domain_web}}/privacy"><i class="fa fa-li fa-user-secret"></i> Privacy statement</a>
            </li>
          </ul>
        </div>
        <div>
          <h5>Help and support</h5>
          <ul class="fa-ul mb-0">
            <li><a href="https://docs.srcf.net"><i class="fa fa-li fa-info-circle"></i> Documentation</a></li>
            <li><a href="{{theme_domain_web}}/get-involved"><i class="fa fa-li fa-code-fork"></i> Get involved</a></li>
            <li><a href="{{theme_domain_web}}/contact"><i class="fa fa-li fa-paper-plane-o"></i> Contact addresses</a>
            </li>
            <li><a href="https://status.srcf.net"><i class="fa fa-li fa-toggle-on"></i> Server status</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <p class="text-center text-muted">The Student-Run Computing Facility is a society at the University of Cambridge
        run entirely by student volunteers &mdash; <a href="https://github.com/srcf"><i
            class="ml-2 fa fa-github"></i></a> </p>
    </div>
    </div>
  </footer>
  <!--<script src="/_srcf/vendor/js/jquery.min.js"></script>-->
  <script src="/_srcf/vendor/js/popper.min.js"></script>
  <script src="/_srcf/vendor/js/bootstrap.min.js"></script>
</body>

</html>