<!DOCTYPE html>
<html lang="en" class="h-100">
  {{- partial "head.html" . -}}

  <body class="d-flex flex-column h-100">
    {{- partial "header.html" . -}}
    <main class="flex-shrink-0">{{- block "main" . }}{{- end }}</main>
    {{- partial "footer.html" . -}}
    <!-- <script src="{{ .Site.Params.domain_web}}/_srcf/vendor/js/popper.min.js"></script>
    <script src="{{ .Site.Params.domain_web}}/_srcf/vendor/js/bootstrap.min.js"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    <script src="/js/main.js"></script>
  </body>
</html>
