{{ $domain_web := .Site.Params.domain_web}}

<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta property="og:url" content="{{ $domain_web }}" />
  <meta property="og:image" content="{{ $domain_web }}/_srcf/images/logo.svg" />

  {{ $title := print .Title " | " .Site.Title}} {{ if .IsHome }}{{ $title =
  .Site.Title }}{{ end }}

  <meta property="og:title" content="{{ $title }}" />

  {{ if .IsHome }}
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  {{ else }}
  <meta
    name="description"
    content="{{ .Params.summary | default .Description}}"
  />
  <meta
    property="og:description"
    content="{{ .Params.summary | default .Description}}"
  />
  {{ end}}

  <title>{{ $title }}</title>

  <!-- <link href="{{$domain_web}}/_srcf/vendor/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="{{$domain_web}}/_srcf/vendor/css/font-awesome.min.css" rel="stylesheet"> -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
    integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK"
    crossorigin="anonymous"
  />
  <!-- <link href="{{$domain_web}}/_srcf/srcf-bs.css" rel="stylesheet"> -->
  <link href="/vendor/font-awesome/css/all.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  <link
    href="{{$domain_web}}/favicon.ico"
    rel="icon"
    type="image/x-icon"
    sizes="16x16 24x24"
  />
</head>
