RewriteEngine on
RewriteCond %{HTTP_HOST} ^docs.srcf.net$
RewriteRule ^learn/tutorials/deploy-django(\.html)?$ /learn/tutorials/deploy-python
RewriteRule ^learn/tutorials/deploy-rails(\.html)?$ /learn/tutorials/deploy-ruby
